.background-1 {
    position:absolute;
    top: 190px;
    width: 250px
}

.background-2 {
    position:absolute;
    top:0px; 
    left:270px;
    width:160px
}

.background-3 {
    position:absolute; top:0px; right:0; width:340px
}

@media (max-width: 575.98px) { 

}

@media (max-width: 767.98px) {  

}

@media (max-width: 991.98px) {  
    .background-1 {
        position:absolute;
        top: 190px;
        width: 80px
    }
    
    .background-2 {
        position:absolute;
        top:0px; 
        left:270px;
        width:30px
    }
    
    .background-3 {
        position:absolute; top:0px; right:0; width:150px
    }
}

@media (max-width: 1199.98px) {  
  
}